{% extends 'customer/user_base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}



<!-- banner -->
<div class="banner">    	   
    <img src="{% static 'assets/images/photos/banner.jpg' %}"  class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information">
               <div class="col-sm-5 col-md-4">

                   <u><h3> ROOM RESERVATION</h3></u>
                   <br>
    <form  method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
         <label style="padding-right: 290px;"> Check-In Date:</label>
            <input type="date" name="in_date" class="form-control" required=""  placeholder="Enter check-in date">
        </div>
        <div class="form-group">
            <label style="padding-right: 290px;"> Check-In Time:</label>
            <input type="time" name="in_time" class="form-control" required=""  placeholder="">
        </div>
         <div class="form-group">
         <label style="padding-right: 290px;"> Check-Out Date:</label>
            <input type="date" name="out_date" class="form-control" required=""  placeholder="Enter check-in date">
        </div>
        <div class="form-group">
            <label style="padding-right: 290px;"> Check-Out Time:</label>
            <input type="time" name="out_time" class="form-control" required=""  placeholder="">
        </div>
{##}
{#<table class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">#}
{##}
{#            {% for i in FC %}#}
{#<td>#}
{#            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">#}
{#            <label for="vehicle1" style="color: black"> {{ i.Facility }}</label><br>#}
{##}
{#            {% endfor %}#}
{##}
{#</td>#}
{#</table>#}


        <button class="btn btn-default">Submit</button>
    </form>
</div>
</div>
            </div>
{#            <a href="#information" class="arrow-nav scroll wowload fadeInDownBig"><i class="fa fa-angle-down"></i></a>#}
        </div>
    </div>
</div>
<!-- banner-->


<!-- reservation-information -->
    <div id="information" class="spacer reserve-info ">
<div class="container">
<div class="row">
<div class="col-sm-7 col-md-8">
   <table class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">
                                 <th class="success" style="color: black;">Hotel Name</th>
                                 <th class="success" style="color: black;">Room Type</th>
                                 <th class="success" style="color: black;">Check-in Date</th>
                                 <th class="success" style="color: black;">Check-in Time</th>
                                 <th class="success" style="color: black;">Check-Out Date</th>
                                 <th class="success" style="color: black;">Check-Out Time</th>
                                 <th class="success" style="color: black;">Reservation Status</th>

                                 <th class="success" style="color: black;">Add aditional facilities</th>
{#                                 <th class="success" style="color: black;">View facilities</th>#}




                                 <th class="success" style="color: black;">Cancel</th>
                                 <th class="success" style="color: black;">Checkout</th>
                                 {% for us in F %}

                                <tr style="background-color:white;width: 700px;">
                                    <td>{{ us.ROOM.HOTEL.Name}}</td>
                                    <td>{{ us.ROOM.roomtype.roomtype}}</td>
                                    <td>{{ us.check_in_date}}</td>
                                    <td>{{ us.check_in_time}}</td>
                                    <td>{{ us.check_out_date }}</td>
                                    <td>{{ us.check_out_time }}</td>
                                    <td>{{ us.status }}</td>
                                    <td><button style="background-color:lightslategray"><a href="facility?id={{ us.id}}" class=" btn btn-danger" style="color:black">Add facility and view facility</a></button></td>
{#                                    <td><button style="background-color:lightslategray"><a href="facility?id={{ us.id}}" class=" btn btn-danger" style="color:black">View Selecterd facilities</a></button></td>#}




{#                                    <td><button style="background-color:lightslategray"><a href="approve?id={{ us.user_id}}" class=" btn btn-success" style="color:black">Approve</a></button></td>#}
                                    <td><button style="background-color:lightslategray"><a href="reject?id={{ us.id}}" class=" btn btn-danger" style="color:black">Cancel</a></button></td>
                                <td><button style="background-color:lightslategray"><a href="checkout?id={{ us.ROOM_id}}" class=" btn btn-danger" style="color:black">Checkout</a></button></td>

                                </tr>


                              {% endfor %}
                            </table>
</div>

</div>
</div>
</div>

<!-- reservation-information -->



<!-- services -->

<!-- services -->

{%  endblock %}